body {
    background: #F0F8FF;
}
input {
    width: 200px;
    display: block;
}
.sentence {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;

}

#one,
#second,
#third {
    margin: 20px auto 20px auto;
}

#sending {
    margin: 20px auto 40px auto;
}
.span_1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    display:block;
    margin: 0 auto;
    text-align: center;
    width: 350px;
    border: 1px solid black;


}
